{% extends 'layout.html' %}

{% block content %}
<p>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
</p> 
<form action="{{url_for('save_cylinders')}}" method = "POST" class="form-inline">
    <div class="form-group">
        <label>Number Of Cylinders:</label>
        <input type="number" name="inputCylinders" id="inputCylinders" placeholder="Number Of Cylinders" class="form-control" autocomplete="off">
    </div>
    <div class="form">
        <input type="submit" name="submit" class="btn btn-success" value="Save Cylinders">
    </div>
</form>
{% endblock %}