{% block content %}
<p>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
</p> 
<form action="{{url_for('save_cvvt')}}" method = "POST" class="form-inline">
    <div class="form-group">
        <label>CVVT:</label>
        <input type="text" name="inputCvvt" id="inputCvvt" placeholder="Variable Valve Timing" class="form-control" autocomplete="off">
    </div>
    <div class="form">
        <input type="submit" name="submit" class="btn btn-success" value="Save CVVT Type ">
    </div>
</form>
{% endblock %}