{% extends 'layout.html' %}

{% block content %}
{% for model in model_data %}
<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-7">
        <div class="caption">
            <h3>Model Name : {{ model[2] }}</h3>
            <p>
                Model Year : {{ model[1]}}
            </p>
            <p>
                Body Type : {{ model[5] }}
            </p>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-7">
        <div class="row">
            <!-- <div class="  col-xs-7 thumb"> -->
                <div class="col-lg-6 thumb">
                    <img class="img-responsive img-thumbnail" src="/static/uploads/{{ model[4] }}" alt=""  />
                    <!-- <img src="{{ url_for('.return_image',filename= model[4] ) }}" class="img-responsive" /> -->
                </div>
            <!-- </div> -->
        </div>
    </div>
</div>
{% endfor %}
</div>
{% endblock %}